In [1]:
import pandas as pd
data = pd.read_csv("C:\\Users\\Prerana Murthy\\Documents\\Christ\\MSc\\Python\\Student Performance new.csv")
data

,Unnamed: 0,race/ethnicity,parental level of education,lunch,test preparation course,math percentage,reading score percentage,writing score percentage,sex
0,0,group B,bachelor's degree,standard,none,0.72,0.72,0.74,F
1,1,group C,some college,NaN,0.69,0.90,0.88,NaN,F
2,2,group B,master's degree,standard,none,0.90,0.95,0.93,F
3,3,group A,associate's degree,NaN,none,0.47,0.57,0.44,M
4,4,group C,some college,standard,none,0.76,0.78,0.75,M
...,...,...,...,...,...,...,...,...,...
995,995,group E,master's degree,standard,completed,0.88,0.99,0.95,F
996,996,group C,high school,free/reduced,none,0.62,0.55,0.55,M
997,997,group C,high school,free/reduced,completed,0.59,0.71,0.65,F
998,998,group D,some college,standard,completed,0.68,0.78,0.77,F
999,999,group D,some college,free/reduced,none,0.77,0.86,0.86,F

In [2]:
data.fillna(method ='bfill')

,Unnamed: 0,race/ethnicity,parental level of education,lunch,test preparation course,math percentage,reading score percentage,writing score percentage,sex
0,0,group B,bachelor's degree,standard,none,0.72,0.72,0.74,F
1,1,group C,some college,standard,0.69,0.90,0.88,0.93,F
2,2,group B,master's degree,standard,none,0.90,0.95,0.93,F
3,3,group A,associate's degree,standard,none,0.47,0.57,0.44,M
4,4,group C,some college,standard,none,0.76,0.78,0.75,M
...,...,...,...,...,...,...,...,...,...
995,995,group E,master's degree,standard,completed,0.88,0.99,0.95,F
996,996,group C,high school,free/reduced,none,0.62,0.55,0.55,M
997,997,group C,high school,free/reduced,completed,0.59,0.71,0.65,F
998,998,group D,some college,standard,completed,0.68,0.78,0.77,F
999,999,group D,some college,free/reduced,none,0.77,0.86,0.86,F

<font size="4"><b> Pivot table</b>

In [6]:
pivot1 = pd.pivot_table(data, index=['lunch'], aggfunc='mean')
pivot1

              Unnamed: 0  math percentage  reading score percentage
lunch
free/reduced  513.915254         0.589548                  0.646751
none           26.000000         0.540000                  0.550000
standard      493.847589         0.700373                  0.716532

In [8]:
pd.pivot_table(data, index=['parental level of education','lunch'], aggfunc='count')

                                          Unnamed: 0  math percentage  \
parental level of education lunch
associate's degree          free/reduced          76               76
                            standard             145              145
bachelor's degree           free/reduced          44               44
                            standard              73               73
high school                 free/reduced          70               70
                            standard             125              125
master's degree             free/reduced          24               24
                            standard              35               35
some college                free/reduced          79               79
                            standard             145              145
some high school            free/reduced          61               61
                            standard             118              118
standard                    none                   1                1

                                          race/ethnicity  \
parental level of education lunch
associate's degree          free/reduced              76
                            standard                 143
bachelor's degree           free/reduced              44
                            standard                  73
high school                 free/reduced              70
                            standard                 125
master's degree             free/reduced              23
                            standard                  35
some college                free/reduced              79
                            standard                 145
some high school            free/reduced              61
                            standard                 118
standard                    none                       1

                                          reading score percentage  sex  \
parental level of education lunch
associate's degree          free/reduced                        76   76
                            standard                           145  145
bachelor's degree           free/reduced                        44   44
                            standard                            73   73
high school                 free/reduced                        70   70
                            standard                           125  125
master's degree             free/reduced                        24   24
                            standard                            35   35
some college                free/reduced                        79   79
                            standard                           145  145
some high school            free/reduced                        61   61
                            standard                           118  118
standard                    none                                 1    0

                                          test preparation course  \
parental level of education lunch
associate's degree          free/reduced                       76
                            standard                          145
bachelor's degree           free/reduced                       44
                            standard                           73
high school                 free/reduced                       70
                            standard                          125
master's degree             free/reduced                       24
                            standard                           35
some college                free/reduced                       79
                            standard                          145
some high school            free/reduced                       61
                            standard                          118
standard                    none                                1

                                          writing score percentage
parental level of education lunch
associate's degree          free/reduced                        76
                            standard                           143
bachelor's degree           free/reduced                        44
                            standard                            73
high school                 free/reduced                        70
                            standard                           125
master's degree             free/reduced                        24
                            standard                            35
some college                free/reduced                        79
                            standard                           145
some high school            free/reduced                        61
                            standard                           118
standard                    none                                 1

<font size="4"><b> Query method</b>

In [9]:
data1 = data
data1

,Unnamed: 0,race/ethnicity,parental level of education,lunch,test preparation course,math percentage,reading score percentage,writing score percentage,sex
0,0,group B,bachelor's degree,standard,none,0.72,0.72,0.74,F
1,1,group C,some college,NaN,0.69,0.90,0.88,NaN,F
2,2,group B,master's degree,standard,none,0.90,0.95,0.93,F
3,3,group A,associate's degree,NaN,none,0.47,0.57,0.44,M
4,4,group C,some college,standard,none,0.76,0.78,0.75,M
...,...,...,...,...,...,...,...,...,...
995,995,group E,master's degree,standard,completed,0.88,0.99,0.95,F
996,996,group C,high school,free/reduced,none,0.62,0.55,0.55,M
997,997,group C,high school,free/reduced,completed,0.59,0.71,0.65,F
998,998,group D,some college,standard,completed,0.68,0.78,0.77,F
999,999,group D,some college,free/reduced,none,0.77,0.86,0.86,F

In [10]:
data1.fillna(method='bfill')

,Unnamed: 0,race/ethnicity,parental level of education,lunch,test preparation course,math percentage,reading score percentage,writing score percentage,sex
0,0,group B,bachelor's degree,standard,none,0.72,0.72,0.74,F
1,1,group C,some college,standard,0.69,0.90,0.88,0.93,F
2,2,group B,master's degree,standard,none,0.90,0.95,0.93,F
3,3,group A,associate's degree,standard,none,0.47,0.57,0.44,M
4,4,group C,some college,standard,none,0.76,0.78,0.75,M
...,...,...,...,...,...,...,...,...,...
995,995,group E,master's degree,standard,completed,0.88,0.99,0.95,F
996,996,group C,high school,free/reduced,none,0.62,0.55,0.55,M
997,997,group C,high school,free/reduced,completed,0.59,0.71,0.65,F
998,998,group D,some college,standard,completed,0.68,0.78,0.77,F
999,999,group D,some college,free/reduced,none,0.77,0.86,0.86,F

In [18]:
df = pd.DataFrame(data1)
df

,Unnamed: 0,race/ethnicity,parental level of education,lunch,test preparation course,math percentage,reading score percentage,writing score percentage,sex
0,0,group B,bachelor's degree,standard,none,0.72,0.72,0.74,F
1,1,group C,some college,NaN,0.69,0.90,0.88,NaN,F
2,2,group B,master's degree,standard,none,0.90,0.95,0.93,F
3,3,group A,associate's degree,NaN,none,0.47,0.57,0.44,M
4,4,group C,some college,standard,none,0.76,0.78,0.75,M
...,...,...,...,...,...,...,...,...,...
995,995,group E,master's degree,standard,completed,0.88,0.99,0.95,F
996,996,group C,high school,free/reduced,none,0.62,0.55,0.55,M
997,997,group C,high school,free/reduced,completed,0.59,0.71,0.65,F
998,998,group D,some college,standard,completed,0.68,0.78,0.77,F
999,999,group D,some college,free/reduced,none,0.77,0.86,0.86,F

In [28]:
data.query("lunch == standard")

UndefinedVariableError: name 'standard' is not defined